.about.block {
  
  font-family: 'Georgia', serif;
  text-align: center;
  color: #40262e;
}

.about.block > div > div > p:first-child {
  font-size: 5.5rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.about.block > div > div > p:last-child {
  font-size: 1.5rem;
  color: #6e5e5e;
  /* margin-bottom: 40px; */
}

@media (max-width: 600px) {
  .about.block > div > div > p:first-child {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .about.block > div > div > p:last-child {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .about.block > div > div > p:first-child {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .about.block > div > div > p:last-child {
    font-size: 1rem;
  }
}
