.footer.block {
  background-color: #604652;
  color: #d6ae9e;
  text-align: center;
  padding: 40px 20px;
  font-family: Georgia, serif;
}

.footer.block .section {
  margin-bottom: 20px;
}

.footer.block .default-content-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.footer.block>div>div>.default-content-wrapper>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -10px;
  
}

.footer.block  .default-content-wrapper ul li  {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer.block>div>div>.default-content-wrapper>ul li {
 font-size: 2rem;
  font-weight: 500;
  color: #d6ae9e;
;
}



.footer.block  .default-content-wrapper ul li a {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  color: #d6ae9e;
}


.footer.block .default-content-wrapper ul li a:hover,
.footer.block  .default-content-wrapper ul li:hover {
  color: #fff;
}

.footer.block picture , .footer.block img {
  display: block;
  max-width: 300px;

  /* margin: 20px auto; */
  height: 150px;
  width: 150px;
}

.footer.block .default-content-wrapper p {
  font-size: 14px;
  margin: 0;
  color: #d6ae9e;
}

/* ========================== */

/* 📱 Mobile Devices */

/* ========================== */
@media (width <= 576px) {
  .footer.block .default-content-wrapper ul {
    flex-direction: column;
    gap: 15px;
  }

  .footer.block .default-content-wrapper ul li {
    font-size: 16px;
  }

  .footer.block picture {
    max-width: 80px;
  }

  .footer.block .default-content-wrapper p {
    font-size: 12px;
    margin-top: 20px;
  }
}

/* ========================== */

/* 💻 Tablets */

/* ========================== */
@media (width >= 577px) and (width <= 992px) {
  .footer.block .default-content-wrapper ul {
    gap: 20px;
  }

  .footer.block .default-content-wrapper ul li {
    font-size: 17px;
  }

  .footer.block picture {
    max-width: 90px;
  }
}

/* ========================== */

/* 🖥️ Desktops */

/* ========================== */
@media (width >= 993px) {
  .footer.block .default-content-wrapper ul {
    gap: 30px;
  }

  .footer.block .default-content-wrapper ul li {
    font-size: 18px;
  }

  .footer.block picture {
    max-width: 100px;
  }
}
